<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <style>
        ul li {
            list-style-type: none;
            float: left;
            margin:10px;
        }
        ul li a {
            padding:10px;
            background-color: orange;
            color:#FFF;
        }
        ul li a.active{background-color: black;}

    </style>
</head>
<body>

<ul>
    <li><a href="#" class="active">{{ 'translate.link1'|trans }}</a></li>
    <li><a href="#">{{ 'translate.link2'|trans }}</a></li>
    <li><a href="#">{{ 'translate.link3'|trans }}</a></li>
</ul>

</body>
</html>