{% extends 'base.html.twig' %}
{% block body %}
    <button class="ajax">click me!</button>
    <div id="ajax-results">here comes the result</div>
    <script>
        $(document).on('click', 'button.ajax', function(){
            that = $(this);
            $.ajax({
                url:'{{ (path('ajax')) }}',
                type: "POST",
                dataType: "json",
                data: {
                    "some_var_name": "some_var_value"
                },
                async: true,
                success: function (data)
                {
                
                    $('div#ajax-results').html(data.output);
                }
            });
            return false;
        });
    </script>
{% endblock %}
